.content{
    height: 100%;
    width: 100%;
    display: flex;
}

.left{
    height: 50%;
    width: 60%;
    padding-left: 8vh;
    padding-top: 4vh;
}

.name{
    font-size: 6vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20vh;
}
.name span{
    color: orangered;
    font-family: 'Caveat', cursive;
}
.intro{
    font-size: 6vh;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.intro span{
    color: orangered;
}
.paragraph{
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.left button{
    margin-top: 10vh;
    height: 8vh;
    width: 15vw;
    background-color: orangered;
    border-radius: 30vh;
    border: none;
    font-size: 2.8vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.right{
    height: 50%;
    width: 40%;
}

.right img{
    height: 500px;
    margin-top: 10vh;
}


@media(max-width:600px){
    .left{
        width: 100%;
        margin-left: 2vh;
    }
    .right{
        display: none;
    }
    .name{
        font-size: 5vh;
        margin-top: 10vh;
        margin-left: -8vh;
    }
    .intro{
        font-size: 4vh;
        margin-left: -8vh;
    }
    .paragraph{
        font-size: 3.1vh;
        margin-left: -8vh;
    }
    .left button{
        height: 7vh;
        width: 20vh;
        font-size: 2.2vh;
        margin-top: 5vh;
        margin-left: -8vh;
    }









    .right img{
        display: none;
    }
}
























































html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}