html,body{
    height: 5000px;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 13vh;
    background-color: #161516;
}
.header{
    height: 70px;
    width: 100%;
    background-color: #232123;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.section-1 h4 {
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10vw;
    color: #ff5500;   
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 2vw;
    font-family:Arial, Helvetica, sans-serif;
}

.section-2 button{
    background-color: #232123;
    border: none;
    color: white;
    font-size: 2.5vh;
}

.section-3{
    height: 50px;
    width: 16vw;
    margin-right: 10vw;
    border-radius: 50px;
}

.section-3 button{
    background-color: #ff5500;
    border-radius: 10vh;
    height: 7vh;
    width: 28vh;
    font-size: 2.8vh;
    color: white;
    border: none;
    padding-right: 5vh;
}
.header-section-3-img{
    height: 32px;
    border-radius: 50%;
    position: relative;
    right: -145px;
    top: -40px;
    padding: 2px 2px;
    background-color: #232123;
}
.menu-icon{
    height: 30px;
    display: none;
}





@media(max-width:600px){
    .header{
        height: 55px;
    }
    .section-2{
        display: none;
    }
    .section-3 button{
        display: none;
    }
    .header-section-3-img{
        display: none; 
    }
    .menu-icon{
        /* display: block;
        margin-left: -101vh;
        height: 35px;
        margin-top: 1vh; */
        position: fixed;
        right: 3vh;
        top: 1.5vh;
        display: block;
    }
}